html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background: #471eff;
  margin: 0;
  font-family: 'Indie Flower', cursive; }
  body ::-webkit-scrollbar {
    display: none; }

.device, .heading, svg, .enhance-animate, .button {
  transition: 200ms;
  transition-timing-function: ease-in-out; }

h1 {
  font-size: 42px;
  letter-spacing: 2px; }

p {
  font-size: 22px; }

h2 {
  letter-spacing: 2px;
  font-size: 36px; }

h3 {
  font-size: 32px;
  letter-spacing: 1px; }

.color-enhanced {
  color: #948dff; }

.enhance-animate {
  background-image: linear-gradient(to right, transparent 0%, #444 100%);
  background-size: 200%; }
  .enhance-animate:hover {
    background-position: -100%; }

.col-30 {
  width: 30%; }

.hidden {
  display: none; }

.show {
  display: inherit !important; }

.inline-block {
  display: inline-block; }

.active-svg {
  stroke: #111111 !important; }

.fit {
  position: fixed;
  top: 0; }

.button {
  border-radius: 100%;
  background: #948dff;
  width: 60px;
  height: 60px; }
  .button svg {
    height: 100%; }
  .button.button--white {
    background: #fff; }

.hover-color:hover {
  color: #EC412C; }

svg {
  width: 24px;
  stroke: #fff;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

svg:hover {
  stroke: #EC412C; }

.resume svg {
  width: 42px; }

.resume .button:hover {
  transparent: 0.6; }

.page svg {
  width: 64px;
  margin-right: 40px; }
.page svg:hover {
  width: 100px; }

.footer svg {
  stroke: #948dff;
  vertical-align: middle; }

.arrow {
  stroke: #948dff; }

.list {
  width: 100%;
  padding: 0; }
  .list .life {
    width: 100%; }
    .list .life .life-text {
      width: 100%; }
      .list .life .life-text h1 {
        margin-bottom: 10px;
        display: inline-block; }
    .list .life img {
      position: relative;
      height: 400px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.4; }
  .list .list-item {
    width: 100%; }
    .list .list-item svg, .list .list-item h3 {
      display: inline-block; }
    .list .list-item svg, .list .list-item svg:hover {
      width: 24px; }
    .list .list-item svg {
      vertical-align: text-bottom; }
    .list .list-item a {
      text-decoration: none; }
    .list .list-item a:-webkit-any-link {
      color: #948dff; }

#device, .view {
  position: relative;
  height: 100%;
  width: 100%; }

#device {
  background: #eee; }

.view {
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff; }

.page div :last-child svg {
  margin: 0; }
.page h2 {
  position: absolute;
  top: 30px;
  width: 100%;
  margin: auto;
  text-align: center; }

.heading {
  position: relative;
  height: auto;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #948dff; }
  .heading h1, .heading h2 {
    margin: 0;
    display: inline-block; }
  .heading h2 {
    margin-left: 40px; }

.resume {
  height: auto;
  width: 100%;
  position: relative;
  background: #111111;
  padding-bottom: 20px; }
  .resume .list div {
    padding: 10px 0; }
  .resume .list h3, .resume .list h1 {
    margin: 0 20px; }
  .resume .list svg {
    margin-left: 30px; }
  .resume div {
    display: inline-block;
    vertical-align: middle; }

.resume-nav {
  width: 100%;
  height: 60px;
  display: inline-block; }

.resume-nav, .resume-content {
  position: relative;
  top: 20px;
  text-align: center; }

.pulse:active {
  animation: none; }

.resume-content {
  width: 100%; }
  .resume-content h1 {
    margin: 0 0 20px 0;
    height: 56px; }
  .resume-content .list {
    text-align: left; }
    .resume-content .list .list-item:hover {
      background: #244ad6;
      background: -moz-linear-gradient(left, #244ad6 0%, #19e876 100%);
      background: -webkit-linear-gradient(left, #244ad6 0%, #19e876 100%);
      background: linear-gradient(to right, #244ad6 0%, #19e876 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1); }
    .resume-content .list div.description {
      background: #fff;
      width: 100%;
      display: none; }
      .resume-content .list div.description p {
        margin-left: 30px;
        color: #000; }

.resume-content-nav {
  position: absolute;
  width: 100%; }
  .resume-content-nav :first-child {
    left: 0;
    position: absolute; }
  .resume-content-nav :last-child {
    right: 0;
    position: absolute; }

.skills {
  width: 100%;
  text-align: center;
  background: #111111;
  padding: 20px 0; }
  .skills .skills-text {
    width: 100%;
    opacity: 0; }
    .skills .skills-text h1, .skills .skills-text h3 {
      margin: 0;
      padding: 20px 0; }
    .skills .skills-text h3 {
      text-align: left;
      padding: 10px 20px; }

.bottom-right {
  position: absolute;
  right: 20px;
  bottom: 20px; }

.map-heading {
  position: relative;
  background: #9CCAFF;
  text-align: center; }
  .map-heading h1 {
    margin: 0; }

.map {
  width: 100%;
  height: 80%; }

.design-page {
  position: relative;
  height: 100%;
  background: #82BD43; }
  .design-page .design-devices {
    position: relative;
    top: 20%;
    text-align: center; }

.contact-page {
  position: relative;
  height: 100%;
  background: #4448C8; }
  .contact-page .contacts {
    position: relative;
    top: 20%;
    text-align: center; }

.footer {
  color: #000;
  background: #fff;
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .footer p {
    font-size: 24px;
    margin: 0; }
  .footer a {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
