html {
  background: #ACA2D9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  background: #E5E4ED; }
  body ::-webkit-scrollbar {
    display: none; }

* {
  transition: 200ms;
  transition-timing-function: ease-in-out; }

.feather {
  transition: 0; }

h1 {
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Indie Flower', cursive; }

h2 {
  letter-spacing: 2px;
  font-family: 'Pangolin', cursive;
  font-size: 36px; }

.col-30 {
  width: 30%;
  display: inline-table; }

.hidden {
  display: none; }

.inline-block {
  display: inline-block; }

.block-mobile {
  display: block;
  width: 100px;
  margin: auto; }

.block-svg {
  margin-right: 0 !important;
  margin-bottom: 40px; }

.touch-cursor {
  cursor: url(../img/touch-cursor.svg) 12 12, auto; }

.touch-cursor:active {
  cursor: url(../img/touch-cursor-active.svg) 12 12, auto; }

.hover-color:hover {
  color: #EC412C; }

svg:hover path {
  fill: #EC412C; }

svg.feather:hover {
  stroke: #EC412C; }
  svg.feather:hover path {
    fill: none; }

.main-page svg.feather {
  fill: none;
  stroke: #fff; }

.main-page svg {
  fill: #fff; }

.resume svg {
  width: 48px; }

.arrow {
  width: 42px; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li {
    padding: 2px 10px; }
  ul li:hover {
    background: #ACA2D9; }

.main-page, .html {
  position: relative;
  height: 100%;
  width: 100%; }

.main-page {
  background: #111111;
  color: #fff; }

.html {
  overflow-y: auto;
  background: #fff; }

.page div :last-child svg {
  margin: 0; }
.page h2 {
  position: absolute;
  top: 30px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #fff; }
.page svg {
  width: 64px;
  margin-right: 40px; }
.page svg:hover {
  width: 100px; }

.heading {
  position: absolute;
  height: 120px;
  width: 100%;
  text-align: center;
  background: #244ad6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #244ad6 0%, #19e876 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #244ad6 0%, #19e876 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #244ad6 0%, #19e876 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1);
  /* IE6-9 */ }
  .heading h1, .heading h2 {
    margin: 0;
    display: inline-block; }
  .heading h1 {
    margin-top: 20px;
    margin-right: 40px; }

.resume {
  height: calc(100% - 120px);
  width: 100%;
  top: 120px;
  position: absolute; }
  .resume div ul {
    display: none;
    overflow-y: auto; }
    .resume div ul h3 {
      margin: 5px 0; }
  .resume div div {
    display: inline-block;
    vertical-align: middle; }
    .resume div div h2 {
      margin: 5px 0;
      padding-left: 5px; }
  .resume :hover svg {
    width: 48px; }
  .resume :hover svg + div {
    font-size: 24px; }
  .resume :hover ul {
    display: block; }

.curriculum {
  position: relative;
  top: 20px;
  padding: 0 60px;
  text-align: center; }

.bottom-right {
  position: absolute;
  right: 20px;
  bottom: 20px; }

.design-page {
  position: relative;
  height: 100%;
  background: #82BD43; }
  .design-page .design-devices {
    position: relative;
    top: 20%;
    text-align: center; }

.contact-page {
  position: relative;
  height: 100%;
  background: #4448C8; }
  .contact-page .contacts {
    position: relative;
    top: 20%;
    text-align: center; }

.footer {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .footer p {
    font-size: 24px;
    margin: 0; }
  .footer svg {
    vertical-align: middle;
    width: 24px; }
  .footer a {
    text-decoration: none; }

.iphone-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid #9E9DA3;
  background: #D4D2DA;
  margin: auto;
  margin-top: 4px; }

.iphone-button:hover {
  background: #5C5A69; }

.mobile-view {
  width: 320px;
  height: 568px;
  margin: auto;
  border: 8px solid #E5E4ED;
  border-radius: 10px;
  padding-bottom: 50px;
  transform: translateY(50px); }

.tablet-view {
  width: 768px;
  height: 1024px;
  margin: auto;
  border: 8px solid #E5E4ED;
  border-radius: 10px;
  padding-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
