html {
  background: #ACA2D9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  background: #E5E4ED; }
  body ::-webkit-scrollbar {
    display: none; }

* {
  transition: 200ms;
  transition-timing-function: ease-in-out; }

h1 {
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Indie Flower', cursive; }

h2 {
  letter-spacing: 2px;
  font-family: 'Pangolin', cursive;
  font-size: 36px; }

h3 {
  font-size: 28px;
  letter-spacing: 1px;
  font-family: 'Indie Flower', cursive; }

.col-30 {
  width: 30%;
  display: inline-table; }

.hidden {
  display: none; }

.show {
  display: inherit !important; }

.inline-block {
  display: inline-block; }

.hover-color-svg {
  stroke: #EC412C !important; }

.hover-color:hover {
  color: #EC412C; }

svg.feather {
  stroke: #fff;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }
  svg.feather path {
    fill: none; }

svg path {
  fill: #fff; }

svg:hover path {
  fill: #EC412C; }

svg.feather:hover {
  stroke: #EC412C; }
  svg.feather:hover path {
    fill: none; }

.resume svg {
  width: 48px; }
  .resume svg.feather:hover {
    width: 56px; }

.page svg {
  width: 64px;
  margin-right: 40px; }
.page svg:hover {
  width: 100px; }

.footer svg {
  vertical-align: middle;
  width: 24px; }
  .footer svg path {
    fill: #000; }

.arrow {
  width: 42px; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li {
    padding: 2px 10px; }
    ul li a {
      text-decoration: none; }
    ul li a:-webkit-any-link {
      color: #c0ffee; }

.main-page, .html {
  position: relative;
  height: 100%;
  width: 100%; }

.main-page {
  background: #111111;
  color: #fff; }

.html {
  overflow-y: auto;
  background: #fff; }

.page div :last-child svg {
  margin: 0; }
.page h2 {
  position: absolute;
  top: 30px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #fff; }

.heading {
  position: absolute;
  height: 120px;
  width: 100%;
  text-align: center;
  background: #244ad6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #244ad6 0%, #19e876 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #244ad6 0%, #19e876 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #244ad6 0%, #19e876 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1);
  /* IE6-9 */ }
  .heading h1, .heading h2 {
    margin: 0;
    display: inline-block; }
  .heading h1 {
    margin-top: 20px;
    margin-right: 40px; }

.resume {
  height: calc(100% - 120px);
  width: 100%;
  top: 120px;
  position: absolute; }
  .resume div ul {
    overflow-y: scroll; }
    .resume div ul h3 {
      margin: 10px 0; }
  .resume div div {
    display: inline-block;
    vertical-align: middle; }

.resume-nav {
  height: 60px; }

.resume-nav, .resume-content {
  position: relative;
  top: 20px;
  padding: 0 60px;
  text-align: center; }

.resume-content h1 {
  margin: auto;
  height: 56px; }
.resume-content ul {
  text-align: left; }
  .resume-content ul li:hover {
    background: #244ad6;
    background: -moz-linear-gradient(left, #244ad6 0%, #19e876 100%);
    background: -webkit-linear-gradient(left, #244ad6 0%, #19e876 100%);
    background: linear-gradient(to right, #244ad6 0%, #19e876 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1); }

.bottom-right {
  position: absolute;
  right: 20px;
  bottom: 20px; }

.design-page {
  position: relative;
  height: 100%;
  background: #82BD43; }
  .design-page .design-devices {
    position: relative;
    top: 20%;
    text-align: center; }

.contact-page {
  position: relative;
  height: 100%;
  background: #4448C8; }
  .contact-page .contacts {
    position: relative;
    top: 20%;
    text-align: center; }

.footer {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .footer p {
    font-size: 24px;
    margin: 0; }
  .footer a {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
