$anime-time: 1s;
$hearbeat: 0.86s;

.pulse {
  animation: pulse $hearbeat cubic-bezier(1,-0.05, 0.57, 0.11) infinite;
}

.opate span { 
  animation: opate $anime-time cubic-bezier(1,-0.05, 0.57, 0.11);
}

@keyframes opate {
    from {
        opacity: 0;
    }
    50% { opacity: 1 }
}

@keyframes pulse {
  from {
    stroke: #ea7ea1;
  }
  to {
    stroke: #da0c0c;
  }
}