$hover-color: #EC412C;
$contact-page: #4448C8;
$design-page: #82BD43;
$greyviolet: #ACA2D9;
$device-color: #E5E4ED;
$resume-height: calc(100% - 120px);

html {
  background: $greyviolet;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: $device-color;
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}

* {
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

h1 {
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Indie Flower', cursive;
}

h2 {
  letter-spacing: 2px;
  font-family: 'Pangolin', cursive;
  font-size: 36px;
}

h3 {
  font-size: 28px;
  letter-spacing: 1px;
  font-family: 'Indie Flower', cursive;
}

.col-30 {
  width: 30%;
  display: inline-table;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.hover-color:hover {
  color: $hover-color;
}

svg.feather {
  path {
    fill: none;
  }

  stroke: #fff;
  fill: none
}

svg {
  path {
    fill: #fff;
  }
}

svg:hover path {
  fill: $hover-color;
}

svg.feather:hover {
  stroke: $hover-color;

  path {
    fill: none;
  }
}

.resume svg {
  width: 48px;
  &.feather:hover {
    width: 56px;
  }
}

.page {
  svg {
    width: 64px;
    margin-right: 40px;
  }

  svg:hover {
    width: 100px;
  }
}

.footer {
  svg {
    vertical-align: middle;
    width: 24px;

    path {
      fill: #000;
    }
  }
}

.arrow  {
  width: 42px;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    padding: 2px 10px;
  }
}

.main-page, .html {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-page {
  background: #111111;
  color: #fff;
}

.html {
  overflow-y: auto;
  background: #fff;
}

.page {
  div :last-child svg {
    margin: 0;
  }

  h2 {
    position: absolute;
    top: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
  }
}

.heading {
  position: absolute;
  height: 120px;
  width: 100%;
  text-align: center;
  background: #244ad6; /* Old browsers */
  background: -moz-linear-gradient(left,  #244ad6 0%, #19e876 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #244ad6 0%,#19e876 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #244ad6 0%,#19e876 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1); /* IE6-9 */

  h1, h2 {
    margin: 0;
    display: inline-block;
  }

  h1  {
    margin-top: 20px;
    margin-right: 40px;
  }
}

.resume {
  height: $resume-height;
  width: 100%;
  top: 120px;
  position: absolute;

  div {
    ul {
      overflow-y: scroll;
      h3 {
        margin: 10px 0;
      }
    }

    div {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.resume-nav, .resume-content {
  position: relative;
  top: 20px;
  padding: 0 60px;
  text-align: center;
}

.resume-content {
  h1 {
    margin: auto;
  }

  ul {
    text-align: left;

    li:hover {
      background: #244ad6;
      background: -moz-linear-gradient(left,  #244ad6 0%, #19e876 100%);
      background: -webkit-linear-gradient(left,  #244ad6 0%,#19e876 100%);
      background: linear-gradient(to right,  #244ad6 0%,#19e876 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1);
    }
  }
}

.bottom-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.design-page {
  position: relative;
  height: 100%;
  background: $design-page;

  .design-devices {
    position: relative;
    top: 20%;
    text-align: center;
  }
}

.contact-page {
  position: relative;
  height: 100%;
  background: $contact-page;

  .contacts {
    position: relative;
    top: 20%;
    text-align: center;
  }
}

.footer {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  p {
    font-size: 24px;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
