$hover-color: #EC412C;
$active-color: #eac141;
$contact-page: #4448C8;
$design-page: #82BD43;
$background: #471eff;
$device-color: #eee;
$enhanced-text: #948dff;
$black: #111111;

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: $background;
  margin: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

.device, .heading, svg, .enhance-animate {
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

h1 {
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Indie Flower', cursive;
}

p {
  font-size: 22px;
  font-family: 'Indie Flower';
}

h2 {
  letter-spacing: 2px;
  font-family: 'Pangolin', cursive;
  font-size: 36px;
}

h3 {
  font-size: 32px;
  letter-spacing: 1px;
  font-family: 'Indie Flower', cursive;
}

.enhanced {
  color: $enhanced-text;
}

.enhance-animate {
  background-image: linear-gradient(to right, transparent 0%, #444 100%);
  background-size: 200%;
  // display: initial;

  &:hover {
    background-position: -100%;
  }
}

.col-30 {
  width: 30%;
}

.hidden {
  display: none;
}

.show {
  display: inherit !important;
}

.inline-block {
  display: inline-block;
}

.active-svg {
  stroke: $active-color !important;
}

.hover-color:hover {
  color: $hover-color;
}

.fit {
  position: fixed;
  top: 0;
}

svg {
  width: 24px;
}

svg.feather {
  path {
    fill: none;
  }

  stroke: #fff;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg {
  path {
    fill: #fff;
  }
}

svg:hover path {
  fill: $hover-color;
}

svg.feather:hover {
  stroke: $hover-color;

  path {
    fill: none;
  }
}

.resume svg {
  width: 48px;
  &.feather:hover {
    width: 56px;
  }
}

.page {
  svg {
    width: 64px;
    margin-right: 40px;
  }

  svg:hover {
    width: 100px;
  }
}

.footer {
  svg {
    stroke: $enhanced-text;
    vertical-align: middle;
  }
}

.arrow  {
  width: 42px !important;
  margin: 0 !important;

  path {
    fill: $enhanced-text;
  }
}

.list {
  width: 100%;
  padding: 0;

  .life {
    width: 100%;

    .life-text {
      width: 100%;

      h1 {
        margin-bottom: 10px;
        display: inline-block;
      }
    }

    img {
      position: relative; 
      height: 400px;
      left: 50%;
      transform: translateX(-50%); 
      opacity: 0.4;
    }
  }

  .list-item {
    width: 100%;

    svg, h3 {
      display: inline-block;
    }

    svg, svg.feather:hover {
      width: 24px;
    }

    svg {
      vertical-align: text-bottom;
    }

    a {
      text-decoration: none
    }

    a:-webkit-any-link {
      color: $enhanced-text;
    }
  }
}

#device, .view {
  position: relative;
  height: 100%;
  width: 100%;
}

#device {
  background: $device-color;
}

.view {
  overflow-y: auto;
  color: #fff;
}

.page {
  div :last-child svg {
    margin: 0;
  }

  h2 {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

.heading {
  position: relative;
  height: auto;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #244ad6;
  background: -moz-linear-gradient(left,  #244ad6 0%, #19e876 100%);
  background: -webkit-linear-gradient(left,  #244ad6 0%,#19e876 100%);
  background: linear-gradient(to right,  #244ad6 0%,#19e876 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1);

  h1, h2 {
    margin: 0;
    display: inline-block;
  }

  h2  {
    margin-left: 40px;
  }
}

.resume {
  height: auto;
  width: 100%;
  position: relative;
  background: $black;
  padding-bottom: 20px;

  .list {
    div {
      padding: 10px 0;
    }
    h3, h1 {
      margin: 0 20px;
    }
    svg {
      margin-left: 30px;
    }
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.resume-nav {
  width: 100%;
  height: 60px;
  display: inline-block;
}

.resume-nav, .resume-content {
  position: relative;
  top: 20px;
  text-align: center;
}

.pulse:active {
  animation: none;
}

.resume-content {
  width: 100%;

  h1 {
    margin: 0 0 20px 0;
    height: 56px;
  }

  .list {
    text-align: left;

    .list-item:hover {
      background: #244ad6;
      background: -moz-linear-gradient(left,  #244ad6 0%, #19e876 100%);
      background: -webkit-linear-gradient(left,  #244ad6 0%,#19e876 100%);
      background: linear-gradient(to right,  #244ad6 0%,#19e876 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244ad6', endColorstr='#19e876',GradientType=1);
    }

    div.description {
      background: #dcdcdc;
      width: 100%;
      display: none;

      p {
        margin-left: 30px;
        color: #000;
      }
    }
  }
}

.resume-content-nav {
  position: absolute;
  width: 100%;

  :first-child {
    left: 0;
    position: absolute;
  }

  :last-child {
    right: 0;
    position: absolute;
  }
}

.skills {
  width: 100%;
  text-align: center;
  background: $black;
  padding-bottom: 10px;

  .skills-text {
    opacity: 0;

    h1, h3 {
      margin: 0;
      padding: 20px 0;
    }
  }
}

.bottom-right {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.map-heading {
  position: relative;
  background: #9CCAFF;
  text-align: center;

  h1 {
    margin: 0;
  }
}

.map {
  width: 100%;
  height: 80%;
}

.design-page {
  position: relative;
  height: 100%;
  background: $design-page;

  .design-devices {
    position: relative;
    top: 20%;
    text-align: center;
  }
}

.contact-page {
  position: relative;
  height: 100%;
  background: $contact-page;

  .contacts {
    position: relative;
    top: 20%;
    text-align: center;
  }
}

.footer {
  color: #000;
  background: #fff;
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  p {
    font-size: 24px;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
