@media (max-width: 414px) {
  .heading {
    h1, h2 {
      margin: 0;
      display: block;
    }
  }

  .resume svg {
    width: 42px;
  }

  .curriculum {
    :first-child {
      text-align: left;
    }

    :last-child {
      text-align: right;
    }
  }

  .iphone-button {
    display: none;
  }

  .xs-block {
    display: block;
  }

  .mobile-svg {
  	margin-right: 0 !important;
  	margin-bottom: 40px;
  }
}

@media (max-height: 678px) {
  .mobile-view {
    transform: none;
  }
}